@charset "UTF-8";

/* base */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  box-sizing: border-box;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 4%;
  padding-right: 4%;
}

/* header */
header {
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

header .hamburger-menu {
  display: none;
  position: relative;
  width: 30px;
}

.hamburger-menu_line1 {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  top: calc(50% - 8px);
}

.hamburger-menu_line2 {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  top: 50%;
}

.hamburger-menu_line3 {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  top: calc(50% + 8px);
}

/* mainvisual */

.mainvisual {
  position: relative;
  height: 600px;
}

.mainvisual img {
  width: 70%;
  height: 500px;
  object-fit: cover;
  margin-left: 30%;
}

.mainvisual h2 {
  position: absolute;
  top: 30%;
  left: 20%;
  background: rgba(255, 255, 255, .6);
  font-size: 3rem;
  padding: 1rem;
}

.bg1 {
  background: #e8e7e7;
  height: 700px;
  width: 45%;
  position: absolute;
  top: -18%;
  left: 0;
  z-index: -1;
}

/* greeting */
.greeting h2 {
  margin-bottom: 50px;
  text-align: center;
}

.greeting .contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  font-size: 0.88rem;
  /* gap: 40px; */
}

.greeting .contents figure {
  width: 48%;
  flex-shrink: 0;
  margin-left: 20px;
}

.greeting .content {
  width: 47%;
  gap: 5%;
}

/* work */

.work {
  width: 100%;
  position: relative;
}

.work::before {
  content: '';
  background: #e8e7e7;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.work h2 {
  margin-bottom: 60px;
  text-align: center;
  padding-top: 40px;
}

.work ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.work ul li {
  width: calc(400 / 1400 * 100%);
}

.work ul li figure {
  margin: 0;
}

/* news */
.news {
  width: 100%;
  margin-bottom: 180px;
}

.news h2 {
  margin-bottom: 50px;
  text-align: center;
}

.news li {
  border-bottom: dotted 1px #dedede;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news li a {
  color: #333333;
}

.news li a:hover {
  opacity: .6;
}

.news li time {
  font-size: 0.75em;
  color: #949494;
  padding-right: 0;
  margin-right: 80px;
}

/* recruit */

.recruit {
  position: relative;
}

.recruit-img img {
  width: 80%;
  height: 400px;
  margin-right: 20%;
  object-fit: cover;
}

.recruit-img .cover {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .4);
}

.recruit-img::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 400px;
  top: -20%;
  right: 0;
  background-color: #e8e7e7;
  z-index: -1;
}

.recruit h2 a {
  position: absolute;
  top: 45%;
  right: 52%;
  width: 250px;
  height: 60px;
  background-color: rgba(255, 255, 255, .8);
  line-height: 60px;
  text-align: center;
}

/* footer */
footer .content-wrapper {
  padding: 50px 0;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  padding-bottom: 40px;
}

.footer-contents table {
  text-align: left;
  border-spacing: 0px 0px;
}

.footer-contents ul {
  display: flex;
  align-items: center;
  gap: 45px;
}

.copyright p {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  line-height: 100px;
  color: #333;
  background-color: #e8e7e7;
}

/* topへ戻るボタン */
#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

#page_top a {
  background-color: #999;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
}

#page_top a:hover {
  background-color: #666;
  text-decoration: none;
}


